# Node.js dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Editor directories and files
*.sublime-project
*.sublime-workspace
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Build directories
dist/
build/
